@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  --color1: rgb(250, 250, 250);
  --color2: #474dff;
  --color3: rgba(29, 29, 29);
  --color4: rgb(10, 10, 10);
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

li {
  list-style: none;
}
p {
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  color: var(--color1);
}

body {
  min-height: 100vh;
  background: var(--color3);
  color: var(--color1);
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

.main-left {
  display: grid;
  align-items: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.8rem;
}
main h2 {
  color: var(--color2);
}

#modem {
  width: 100%;
}

footer {
  display: grid;
  grid-template-columns: 33% 67%;
  background: var(--color4);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

/* .btn-container {
  display: grid;
} */

button {
  border: none;
  color: var(--color1);
  background: var(--color2);
  width: 150px;
  padding: 10px 0px;
  margin: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
}

.investors {
  display: grid;
  align-items: center;
  height: 80%;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-container img {
  height: 60px;
}

@media screen and (max-width: 400px) {
  body {
    /* background: red; */
  }

  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }

  nav {
    grid-template-columns: 40% 60%;
  }
  nav ul {
    grid-gap: 10px;
  }
  main {
    display: block;
  }
  footer,
  .btn-container {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
  button {
    margin: 5px auto;
  }

  .img-container img {
    margin: 20px auto;
    height: 30px;
  }

  /* nav {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "nav";
  }
  .logo {
    grid-area: logo;
  }

  nav ul {
    grid-area: nav;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-left"
      "main-right";
  }
  li {
    display: block;
  }
  .main-left {
    grid-area: main-left;
  }
  .main-right {
    grid-area: main-right;
  } */
}
